* {
    margin: 0;
    padding: 0;
}

.navbar-nav {
    font-size: 1.2rem;
    font-weight: 500;
    /* margin: auto; */
}

.intro {
    margin-top: 80px;
}

.intro p {
    box-shadow: 0 0 6px black;
    padding: 20px;
    border-radius: 4px;
    font-size: 17.4px;
    font-family: Verdana, Tahoma, sans-serif;
    width: 65%;
    margin: auto;
}

.js-lottie-container {
    width: 46%;
    margin: 60px;
    float: right;
}

.wholeSemcontainer {
    display: flex;
    margin-top: 5%;
}

#anotherbranches {
    width: 30%;
    margin: auto;
}

.btechCSE {
    width: 28%;
    margin-left: 25px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px #6ac1ff;
}

.btechCSE p {
    margin-bottom: 0;
    margin-top: 20px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

#quote1 {
    font-family: fantasy;
    margin: 16px;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.105em;
}

.text-center p {
    margin: auto;
    margin-bottom: 0;
    font-size: 15px;
    margin-top: 1.7%;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        font-size: 1.03rem;
        font-weight: 500;
    }

    .intro p {
        font-size: 14px;
    }

    .js-lottie-container {
        width: 40%;
        margin: 15px;
        margin-top: 8%;
    }
}

@media screen and (max-width: 720px) {
    .js-lottie-container {
        margin: auto;
        float: inherit;
        margin-top: 25px;
    }

    .btechCSE {
        width: 28%;
    }

    .wholeSemcontainer {
        margin-top: 18px;
    }
}

@media screen and (max-width: 500px) {
    .js-lottie-container {
        width: 60%;
    }

    /* #wholeSemID {
        margin-right: 25px;
    } */

    .btechCSE {
        width: 26.5%;
    }
}

@media screen and (max-width: 438px) {
    #aktulogo {
        width: 65%;
    }

    .js-lottie-container {
        width: 70%;
    }

    #wholeSemID {
        margin-left: -15px;
        margin-right: 12px;
    }

    .btechCSE {
        width: 28%;
    }

    .btechCSE p {
        font-size: 15px;
    }

    .list-group a {
        font-size: 10.3px;
    }

    #quote1 {
        font-size: 1.16rem;
        margin: 12px;
    }

    .intro p {
        width: 80%;
    }
}

@media screen and (max-width: 345px) {
    .btechCSE p {
        font-size: 13px;
    }

    #listImage {
        width: 12px;
    }

    #quote1 {
        font-size: 0.9rem;
        margin: 8px;
    }
}